<mat-grid-list  [cols]="1" rowHeight="100px" >
    <mat-grid-tile>
    <div class="example-button-row">
        <div class="example-flex-container">
            <div class="example-button-container" *ngFor="let ball of balls">
                <button mat-mini-fab *ngIf="ball.disabled == false" color="{{ball.color}}">
                    {{ball.number}}
                </button>
                <button mat-mini-fab disabled *ngIf="ball.disabled"></button>
            </div>
        </div>
    </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <span matBadge="{{contador}}x" matBadgeSize="medium"></span>
        <mat-form-field class="example-form-field" appearance="fill" >
            <input type="number" matInput [(ngModel)]="placebet">
        </mat-form-field>  
        <button type="submit" mat-flat-button   class="buttonOK" color="primary" (click)="okResult()">
            OK
        </button>
        <span *ngIf="error" class="minimunerror">*La apuesta minima son 5€</span>
        <span *ngIf="error2" class="minimunerror">*Debe introcucir un valor</span>
    </mat-grid-tile>
    <mat-grid-tile>
        <span class="position-total" *ngIf="!disabledButton">Total: {{resultado}}€</span>
    </mat-grid-tile>
    <mat-grid-tile-footer>
        <button class="placebet-button" ng mat-flat-button color="primary" [disabled]="disabledButton" (click)="placebetResult()">
            Place bet
        </button>
    </mat-grid-tile-footer>
</mat-grid-list>
