.mat-form-field-appearance-fill .mat-form-field-flex{
    padding: 0.10em 0.10em 0 0.10em!important;
}
.mat-badge{
    bottom: 10px;
    right: 16px;
}
.buttonOK{
    left: 10px!important;
}
.position-total{
    padding-bottom: 41px;
    font-size: 18px;
}
.placebet-button{
    width: 100%;
    font-size: 15px;
}
.minimunerror{
    position: absolute;
    bottom: 12px;
    left: 72px;
    color: red;
}
