<mat-grid-tile-header><span class="result-title">Result</span></mat-grid-tile-header>
    <section>
        <div class="example-button-row">
            <div class="example-flex-container">
              <div class="example-button-container">
                <button mat-fab *ngIf="executeGame && winner" color="{{winnerBall.color}}">
                  {{winnerBall.number}}
                </button>
              </div>
            </div>
        </div>
    </section>
<mat-grid-tile-footer *ngIf="executeGame">
    <span class="result-won" *ngIf="winner == true">YOU WON  {{profit}}€</span>
    <span class="result-lose" *ngIf="winner == false">YOU LOSE</span>
</mat-grid-tile-footer>
