<mat-grid-tile-header>Numbers</mat-grid-tile-header>
<section>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-fab color="primary">
          1
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="accent">
          2
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="warn">
          3
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="primary">
          4
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="warn">
          5
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="primary">
          6
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="accent">
          7
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="warn">
          8
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="primary">
          9
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="accent">
          10
        </button>
      </div>
    </div>
  </div>
</section>
<mat-grid-tile-footer>
  <button mat-flat-button class="clear-button" color="primary">
    Clear selection
  </button>
</mat-grid-tile-footer>
