<mat-grid-tile-header>Numbers</mat-grid-tile-header>
<section>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container" *ngFor="let ball of balls">
        <button (click)="clickBall($event, ball)" mat-fab color="{{ball.color}}">
          {{ball.number}}
        </button>
      </div>
    </div>
  </div>
</section>
<mat-grid-tile-footer>
  <button mat-flat-button class="clear-button" (click)= "clearSelection($event)" color="primary">
    Clear selection
  </button>
</mat-grid-tile-footer>
