<div style="padding: 15px;">
  <mat-grid-list [cols]="4" rowHeight="100px" gutterSize="14px">
    <mat-grid-tile [colspan]="2" [rowspan]="3" [style.background]="'white'">
      <app-ball-selector></app-ball-selector> 
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="3" [style.background]="'white'">
      <app-placebet></app-placebet>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="3" [style.background]="'white'">
      <app-resultball></app-resultball>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="3" [style.background]="'white'">
        <app-placebet></app-placebet>
    </mat-grid-tile>
  </mat-grid-list>
</div>