/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: rgb(224, 221, 221);}

section {
  display: table;
}
.example-button-row {
  display: table-cell;
}
.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}
.example-flex-container {
  display: flex;
}
.example-button-container {
  display: flex;
  justify-content: center;
}
.mat-fab .mat-button-wrapper{
  font-size: 20px;
}
.mat-grid-tile .mat-grid-tile-header {
  color: black!important;
  font-size: 20px;
}
.mat-grid-tile .mat-grid-tile-header, .mat-grid-tile .mat-grid-tile-footer{
  background-color: transparent!important;
}
.mat-grid-tile .mat-grid-tile-footer{
  padding-bottom: 10px;
}
.internalMatGrid{
  min-width:90%;
}

  



